body {
    background-color: #0D0D0D; /* Dark background */
    color: #A67B2D; /* General text color */
}

/* Introduction and Conclusion Styles */
.introduction, .conclusion {
    color: #A67B2D; /* Text color for introduction and conclusion */
    padding: 20px; /* Padding for spacing */
    border-bottom: 1px solid #ccc; /* Bottom border for a subtle separation */
}

.tab-container {
    overflow: hidden;
     /* Semi-transparent white background */
   

    border-radius: 10px;
}

.tab {
    background-color: rgba(255, 255, 255, 0.2);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    display: inline-flex; /* Align items nicely */
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    color: white; /* Initial state color for the text */
    text-shadow: 1px 1px #A67B2D;
    font-weight: bold; /* Make tab headings bold */
    text-transform: uppercase; /* Convert tab headings to uppercase */
    border-radius: 10px;
    width: calc(100% / 6); /* Evenly size tabs, adjust the divisor based on the number of tabs */
}

.tab:hover {
    background-color: #ddd;
    color: #D91A2A; /* Hover state color for the text */
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    color: #A67B2D; /* Text color */
    
}

.navigation-buttons {
    margin-top: 20px;
}

.navigation-buttons button {
    padding: 10px;
    margin-right: 5px;
    background-color: #A7864B; /* Button background */
    color: #ffffff; /* Button text color */
    border: none;
    cursor: pointer;
    font-weight: bold; /* Bold text for better readability */
}

.navigation-buttons button:hover {
    background-color: #D91A2A;
    color: #ffffff;
}